<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Web Page</title>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
    <div class="h1-div">
        <a href="Home" class="docs">Docs</a>
    </div>
    <form action="" class="detail">
        <div class="h1-form-div">
            <h1 class="h1-tag">Enter your correct detail</h1>
        </div>

        <div class="person-detail">
            <label for="rol"><b>Enter Role :</b></label>
            <input type="text" name="role" id="rol" placeholder="enter your role (student,teacher)" class="inp-style">
        </div>

        <div class="person-detail">
            <label for="id"><b>Enter Role :</b></label>
            <input type="number" name="ID" id="id" placeholder="enter your ID" class="inp-style">
        </div>

        <div class="person-detail">
            <label for="pass"><b>Enter Password :</b></label>
            <input type="password" name="password" id="pass" placeholder="enter your password" class="inp-style">
        </div>

    </form>
</body>
</html>